<section class="">
    <div class="row justify-content-center">
        <div class="col-md-4 wrapper-container">
          <h2 class="mb-4">Sign Up</h2>
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="name" class="form-label">Full Name</label>
              <input 
                type="text" 
                class="form-control" 
                id="name"
                formControlName="name"
                [class.is-invalid]="signupForm.get('name')?.invalid && signupForm.get('name')?.touched"
              >
              <div class="invalid-feedback">
                Name is required
              </div>
            </div>
      
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input 
                type="email" 
                class="form-control" 
                id="email"
                formControlName="email"
                [class.is-invalid]="signupForm.get('email')?.invalid && signupForm.get('email')?.touched"
              >
              <div class="invalid-feedback">
                <span *ngIf="signupForm.get('email')?.errors?.['required']">Email is required</span>
                <span *ngIf="signupForm.get('email')?.errors?.['email']">Invalid email format</span>
              </div>
            </div>
      


            <div class="mb-3">
                <label for="email" class="form-label">Enter Mobile</label>
                <input 
                
                  class="form-control" 
                  id="mobile"
                  formControlName="mobile"
                  [class.is-invalid]="signupForm.get('mobile')?.invalid && signupForm.get('mobile')?.touched"
                >
                <div class="invalid-feedback">
                  <span *ngIf="signupForm.get('mobile')?.errors?.['required']">Mobile is required</span>
                  <span *ngIf="signupForm.get('mobile')?.errors?.['mobile']">Invalid mobile format</span>
                </div>
              </div>


           


            <div class="mb-3 position-relative">
                <label for="password" class="form-label">Password</label>
                <input 
                  [type]="showPassword ? 'text' : 'password'" 
                  class="form-control" 
                  id="password"
                  formControlName="password"
                  [class.is-invalid]="signupForm.get('password')?.invalid && signupForm.get('password')?.touched"
                >
                <span 
                 
                  class="fa fa-eye toggle-password" 
                  (click)="togglePasswordVisibility()" 
                  type="button"
                >
                  {{ showPassword ? '' : '' }}
                 </span>
                <div class="invalid-feedback">
                  <span *ngIf="signupForm.get('password')?.errors?.['required']">Password is required</span>
                  <span *ngIf="signupForm.get('password')?.errors?.['minlength']">
                    Password must be at least 6 characters
                  </span>
                </div>
              </div>
              
      
            <button 
              type="submit" 
              class="btn btn-primary"
              [disabled]="signupForm.invalid"
            >
              Sign Up
            </button>
          </form>
      
          <div class="mt-3">
            Already have an account? <a routerLink="/login">Login</a>
          </div>
        </div>
      </div>
</section>